<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Online Lisp Interpreter</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/styles.css" rel="stylesheet" type="text/css" />
<script type = "text/javascript">

function validateForm()
{

var x=document.forms["myForm"]["name"].value
if (x==null || x=="")
  {
  alert("Name must be filled out");
  return false;
  }



var x=document.forms["myForm"]["email"].value
if (x==null || x=="")
  {
  alert("Email must be filled out");
  return false;
  }
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  {
  alert("Not a valid e-mail address");
  return false;
  }

var x=document.forms["myForm"]["message"].value
if (x==null || x=="")
  {
  alert("Message must be filled out");
  return false;
  }

alert("Message send to Anoop")
}

</script>


</head>
<body>

<div id="main_bg">
<div id="main">
<!-- header -->
<div id="header">
	<div id="logo">
		<a href="http://anoopsmohan.blogspot.com">Anoop.S.M</a>
		<h2><a href="http://anoopsmohan.blogspot.com"><small>MCA Final Project</small></a></h2>
	</div>
	<h1>Online LISP Interpreter</h1>
</div>	
 
 <div id="buttons">
	<a href="http://www.lispinterpreter.appspot.com/home.html" class="but_home" title=""></a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/examples.html" class="but" title="">Examples</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/about.html" class="but" title="">About</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/about_us.html" class="but" title="">About me</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/contact_us.html" class="but" title="">Contact </a>
	<a href="http://www.lispinterpreter.appspot.com/signin.html" class="but" title="">Sign In</a>
	<a href="http://www.lispinterpreter.appspot.com/signup.html" class="but" title="">Sign Up</a>
	<a href="http://www.lispinterpreter.appspot.com/home.html" class="but" title="">Sign Out</a>
       
	
	</div>
<div class="inner_copy"><div class="inner_copy">Find best premium and <a href="http://www.getjoomlatemplatesfree.com" title="Joomla templates">free Joomla templates</a> at GetJoomlaTemplatesFree.com</div></div>

<!-- / header -->
<div class="top">
<!-- content -->
				<div class="cont_top"></div>
				<div id="content">
				<div style=" height:10px"></div>
				<div id="cont_razd">
					<div id="right">
						<h2></h2>
						<div style=" height:10px"></div>
						<span class="span_dat"></span><br/>
						<div style=" height:5px"></div>

						<div style="height: 10px;"></div>

						<div style=" height:25px"></div>
						<span class="span_dat"></span><br/>
						<div style=" height:5px"></div>
						
						<br/>
						
						<div style="height: 10px;"></div>

						<div style=" height:25px"></div>
						
						<span class="span_dat"></span><br/>
						<div style=" height:5px"></div>
						
						
						<div style="height: 10px;"></div>
						
						
					</div>
				<div id="left">
							<h2>About me</h2>
							
					<div style="height: 10px;"></div>
							<img src="/static/anoop.jpg" class="img_l" alt="" />
						<p>	My name is Anoop.S.M. I'm 23 years old MCA candidate. I'm looking for a good carrier in Software Engineering. I have taken my Degree in Computer Science from Prajyoti Niketan College Pudukkad. Now Iam doing MCA.<br><br>

<p>Currently I participate in the Six month project work as the part of post graduation (MCA).
I'm very interested in the open source softwares. My project is also based on the open source software like 'python'. My first project is the "DESIGN OF A LISP INTERPRETER WITH A WEB FRONT - END". During this project Python used as the Back-end.<br><br><p>I want to learn more about LINUX based programming. For this i joined with IC software. Courses at IC Software are managed by Mr. Pramode, an engineer with extensive experience in Free Software related technologies.<br><br><p>

I'm also familiar with technologies like C/C++, Java, SQL, PHP. I develop this blog as the part of my project work. I feel it is the beginning of my good carrier..<br><br><br>


<b>CONTACT</b>
<p>Email : anoopmhn2009@gmail.com
<p>Blog  :<a href="http://anoopsmohan.blogspot.com"> http://anoopsmohan.blogspot.com</a>
<p>Phone : +91 9447314687

<br><br><p>If you don't want to use the contact info above feel free to fill the comment below - I'm always open for suggestions and questions, criticism and praise.


						<div style="height: 10px;"></div>
							
					
							<div style=" height:25px; clear: both;"></div>
							<div >
								<h2>Comments</h2>
							<div style=" height:15px; clear: both;"></div>
<form action="" method="post" onsubmit="return validateForm()" name="myForm">
							<div style="height:30px;"><label>Name</label><input class="input_txt2" value="" name="name" type="text" /></div><div style="height:10px"></div>
							<div style="height:30px;"><label>E-mail</label><input class="input_txt2" value="" name="email" type="text" /></div><div style="height:10px"></div>
							
							<div><textarea class="text_area2" cols="32" rows="3" name="message"></textarea></div>
							<div style="height:15px;"></div>
							<div style="height:17px;">
							<input class="submit2" name="send" type="submit" value="Send" /><input class="submit2" name="reset" type="reset" value="Reset" />
							</div>
							<div style="height:10px;"></div>
						</form>
								<div class="box_about">
									
								<div style=" height:10px"></div>

								</div>
								<div class="box_about" style=" margin-left:20px">
									
									<div style=" height:10px"></div>
								
							</div>
								<div style="clear: both"></div>
					</div>
					<div style=" height:20px"></div> 


							<div >
								<div class="box_about">
								
									<div style=" height:10px"></div>

								</div>
								<div class="box_about" style=" margin-left:20px">
								
									<div style=" height:10px"></div>

							</div>
								<div style="clear: both"></div>
					</div>
						<div style=" height:10px"></div> 
						
				</div>
					<div style="clear: both"></div>
					</div>
				</div>
				<div class="cont_bot"></div>
<!-- / content --> 
	<div style="height:15px"></div>
<!-- bottom -->

	
<!-- / bottom --> 
	<div id="footer">
		<p>Copyright statement. Designed by <a href="anoopsmohan.blogspot.com">Anoop.S.M</a></p>
		<p>All rights reserved.</p>

	</div>
</div>

</div>

</body>
</html>
