<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Online Lisp Interpreter</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="main_bg">
<div id="main">
<!-- header -->
<div id="header">
	<div id="logo">
		<a href="http://anoopsmohan.blogspot.com">Anoop.S.M</a>
		<h2><a href="http://anoopsmohan.blogspot.com"><small>MCA Final Project</small></a></h2>
	</div>
	<h1>Online LISP Interpreter</h1>
</div>	
 
 <div id="buttons">
	<a href="http://www.lispinterpreter.appspot.com/home.html" class="but_home" title=""></a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/examples.html" class="but" title="">Examples</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/about.html" class="but" title="">About</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/about_us.html" class="but" title="">About me</a><div class="but_razd"></div>
	<a href="http://www.lispinterpreter.appspot.com/contact_us.html" class="but" title="">Contact </a>
	<a href="http://www.lispinterpreter.appspot.com/signin.html" class="but" title="">Sign In</a>
	<a href="http://www.lispinterpreter.appspot.com/signup.html" class="but" title="">Sign Up</a>
	<a href="http://www.lispinterpreter.appspot.com/home.html" class="but" title="">Sign Out</a>
       
	
	</div>

<!-- / header -->
<div class="top">
<!-- content -->
				<div class="cont_top"></div>
				<div id="content">
					<div style=" height:10px"></div>
					<div id="cont_razd">
					<div id="right">
						<h2></h2>
						<div style=" height:5px"></div>
					
						<div style=" height:25px"></div>
						<h2></h2>
						<div style=" height:5px"></div>
						
						<div style=" height:25px"></div>
						<h2></h2>
						<ul >
							
						</ul>
					</div>
						<div id="left">
							<div style="height: 55px;">
								
							<div style="width:570; float: left;">
								<h2>Tested Examples<div style="height: 3px;"></div>
								
								</div>
							</div>
							<div style="height: 10px;"></div>
							<span class="span_cont"></span><br/><h3>Arithmetic Operations</h3><br>
							(+ 1 (+ 2 (+ 3 4))) is the same as (+ 1 (+ 2 7)) is the same as (+ 1 9) which yields 10 <br>
(+ (+ 1 2) (+ 3 4)) is the same as (+ 3 7) which yields 10 <br>
(- 10 7) yields 3 <br>
(- 7 10) yields 0 <br>
(+ (* 3 4) (* 5 6)) is the same as (+ 12 30) which yields 42 <br>
(^ 2 10) yields 1024 <br>
(< (* 10 10) 101) is the same as (< 100 101) which yields true <br>
(= (* 10 10) 101) is the same as (= 100 101) which yields false.<br><br><br><h3>List handling Functions</h3><br>
(car ' (a b c)) yields a<br>
(cdr ' (a b c)) yields (b c)<br> 
(car ' ((a) (b) (c))) yields (a)<br> 
(cdr ' ((a) (b) (c))) yields ((b) (c))<br> 
(car ' (a)) yields a<br>
(cdr ' (a)) yields ()<br>
(cons ' a ' (b c)) yields (a b c)<br> 
(cons ' (a) ' ((b) (c))) yields ((a) (b) (c))<br> 
(cons ' a ' ()) yields (a) <br><br>
((lambda (x) (* x x)) 2)     evaluates to 4.<br><br>
(def square (lambda (x) (* x x)))<br>
(square 4)                   evaluates to 16<br><br><h3>Function declaration</h3>
(def length
   (lambda (x)
      (cond
         ((not x) 0)
         (   t   (+ 1 (length (cdr x))))
      )
   )
)<br>

(length '(a b c d e f g))   yields 7<br><br>

(def fact (lambda (n) (if (< n 1) 1 (* n (fact (- n 1))))))<br>
(fact 9)
             Evaluates to  362880<br><br>
(def fact (lambda (n) (if (<= n 1) 1 (* n (fact (- n 1))))))<br>
(fact -5)    Evaluates to 1

							<div style="height: 10px;"></div>
							<div style="height:20px;"></div>
					
							<div style=" height:5px"></div>
							<div style=" height:20px"></div> 
							<div style="height: 55px;">
				
							<div style="width:570; float: left;">
								
								<div style="height: 3px;"></div>
								<div >
										
								</div>
							</div>
							</div>
							
							<div style="height: 10px;"></div>
							<br/>
							
							<div style="height: 10px;"></div>
							<div style="height:20px;"></div> 
							<div style="height: 10px; clear: both"></div>
							
					</div>
					<div style="clear: both"></div>
					</div>
				</div>
				<div class="cont_bot"></div>
<!-- / content --> 
	<div style="height:15px"></div>
<!-- bottom -->

<!-- / bottom --> 
	<div id="footer">
		<p>Copyright statement. Designed by <a href="http://anoopsmohan.blogspot.com">Anoop.S.M</a></p>
		<p>All rights reserved</p>
		
	</div>
</div>

</div>

</body>
</html>
